name: lint and test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dev/test dependencies from requirements-dev.txt.
      run: |
        python -m pip install --upgrade pip
        pip install pylint              
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
    - name: Test with pytest
      run: |
        pytest
    - name: tests with coverage
      run: |
        coverage run -m pytest
        coverage html
    - name: archive coverage HTML report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-html-${{ matrix.python-version }}
        path: htmlcov
        retention-days: 7